/**
  Global css
  This file is always included the app/index.jsx
 */

h2 {
  color: hsl(0, 0%, 30%);
  margin: 0;
  transform: rotateZ(-1deg);
  transform-origin: 3%;
}

code {
  font-family: _, monospace;
}
